---
title: "Apply Function"
author: "Kamal"
date: 2020-08-11
description: "-"
type: technical_note
draft: false
---

In [1]:
import pandas as pd
import numpy as np

In [2]:
d = ["Vachitaya aapuuuuuuuuu","Sing in the rain","Valikudhu...Aludhuruve","Mande Badharam"]

In [3]:
df = pd.DataFrame(d, columns = ['Dialogue'])
df

                 Dialogue
0  Vachitaya aapuuuuuuuuu
1        Sing in the rain
2  Valikudhu...Aludhuruve
3          Mande Badharam

In [4]:
def func(msg):
    return len(msg)

In [5]:
df["Length"] = df["Dialogue"].apply(func)

In [6]:
df

                 Dialogue  Length
0  Vachitaya aapuuuuuuuuu      22
1        Sing in the rain      16
2  Valikudhu...Aludhuruve      22
3          Mande Badharam      14