---
title: "Label Encoder"
author: "Kamal"
date: 2020-08-12
description: "-"
type: technical_note
draft: false
---

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
d = {"Cities" : ["paris", "paris", "tokyo", "amsterdam", "berlin", "rio", "lisbon", "berlin"]}

In [3]:
df = pd.DataFrame(d)
df

      Cities
0      paris
1      paris
2      tokyo
3  amsterdam
4     berlin
5        rio
6     lisbon
7     berlin

In [4]:
l = LabelEncoder()

In [5]:
df['Cities'] = l.fit_transform(df['Cities'])
df

   Cities
0       3
1       3
2       5
3       0
4       1
5       4
6       2
7       1