---
title: "To_datetime"
author: "Kamal"
date: 2020-08-12
description: "-"
type: technical_note
draft: false
---

In [1]:
import pandas as pd

#### Sample 1

In [2]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [3]:
df = pd.to_datetime(df)
df

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

#### Sample 2

In [4]:
date = ["05SEP2014:12:45:54.000", "06SEP2014:06:21:41.000", "07SEP2014:07:30:40.000", "05OCT2014:05:26:23.000", "06OCT2014:22:30:17.000"]

In [5]:
df = pd.DataFrame(date, columns = ["Date"])
df

                     Date
0  05SEP2014:12:45:54.000
1  06SEP2014:06:21:41.000
2  07SEP2014:07:30:40.000
3  05OCT2014:05:26:23.000
4  06OCT2014:22:30:17.000

In [6]:
df['Date'] =  pd.to_datetime(df['Date'], format='%d%b%Y:%H:%M:%S.%f')
df

                 Date
0 2014-09-05 12:45:54
1 2014-09-06 06:21:41
2 2014-09-07 07:30:40
3 2014-10-05 05:26:23
4 2014-10-06 22:30:17