---
title: "Get Dummies"
author: "Kamal"
date: 2020-08-12
description: "-"
type: technical_note
draft: false
---

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = ['a', 'b', np.nan]

In [3]:
df = pd.DataFrame(s)
df

     0
0    a
1    b
2  NaN

In [4]:
df = pd.get_dummies(df[0], dummy_na=True)
df

   a  b  NaN
0  1  0    0
1  0  1    0
2  0  0    1